<section
    class="hero-bg w-full h-screen max-h-270 flex flex-col lg:flex-row"
    >
    <div
        class="w-full lg:w-2/3 h-auto lg:h-full py-section-y px-main flex flex-col lg:justify-center gap-lg"
        >
        <span>
            <h1
                appEntryAnim
                [delay]="100"
                [threshold]="0.6"
                [translateY]="25"
                [speed]="500"
                class="title-1 opacity-0"
                >
                Akim Art
            </h1>
            <p  
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                class="opacity-0"
                >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, commodi vel alias similique amet officia repellat corporis voluptatem inventore maxime repellendus, dignissimos reprehenderit adipisci molestiae ipsa nobis quae animi? Temporibus!
            </p>
        </span>
        <span
            class="flex items-center gap-md"
            >
            <button 
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                class="button primary"
                >
                Nos service
            </button>
            <button 
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                class="button secondary"
                >
                Nous contactez
            </button>
        </span>
    </div>
</section>