<section
    class="hero-bg w-full h-screen xl:max-h-270 flex flex-col items-center justify-around lg:justify-between lg:flex-row"
    >
    <div
        class="w-full lg:w-2/3 h-auto lg:h-full py-section-y px-main flex flex-col lg:justify-center gap-lg"
        >
        <span>
            <h1
                appEntryAnim
                [delay]="100"
                [threshold]="0.6"
                [translateY]="25"
                [speed]="500"
                class="title-2 opacity-0"
                >
                Objetenez Lorem, ipsum dolor.
            </h1>
            <p  
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                class="opacity-0 text-clr-text-secondary"
                >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, commodi vel alias similique amet officia repellat corporis voluptatem inventore maxime repellendus, dignissimos reprehenderit adipisci molestiae ipsa nobis quae animi? Temporibus!
            </p>
        </span>
        <span
            class="flex items-center gap-md"
            >
            <button 
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                (click)="getExpertise()"
                class="button primary opacity-0"
                >
                Nos domaines d'expertise
            </button>
            <button 
                appEntryAnim
                [delay]="200"
                [threshold]="0.6"
                [translateY]="5"
                [speed]="500"
                class="button secondary opacity-0"
                >
                Nous contactez
            </button>
        </span>
    </div>
    <div></div>
</section>